@model IEnumerable<ProjectAkhirPAW.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JumlahOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPelangganNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPelayanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JumlahOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPelangganNavigation.IdPelanggan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPelayanNavigation.IdPelayan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrder">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOrder">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrder">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
